@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

::selection {
  background: #ff5c00;
  color: #0a0a0a;
}
