.footer {
    min-height: 15vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #717983;
    color: #141414;
}

.footer ::selection {
    color: #717983;
    background-color: #141414;
}

.footer p {
    font-size: 1.25vw;
    font-weight: 500;
}