.container {
  margin: 0;
  margin-top: 10vh;
  padding: 0;
}

.main {
  min-height: 75vh;
  max-height: 75vh;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  min-height: 65vh;
  max-height: 65vh;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerImage {
  width: 10vh;
  height: 10vh;
  margin: 5vh;
  margin-top: 20vh;
}

.aboutMe {
  min-height: 65vh;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #717983;
}

.skills {
  min-height: 65vh;
  max-height: 65vh;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills h3 {
  margin: 0;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 1.5vw;
  font-weight: 500;
}

.skillsExt {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.skillset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.skill {
  font-size: 8vh;
  margin: 0 3vh;
  padding: 0;
}

.more {
  min-height: 25vh;
  max-height: 25vh;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 5vw;
}

.title::selection {
  background-color: #fff;
  color: #0070f3;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5vw;
  width: 65vw;
}

.description a {
  color: #0070f3;
  text-decoration: none;
}

.description a:hover,
.description a:focus,
.description a:active {
  text-decoration: underline;
}

.typewriter {
  margin: 4rem 0;
  font-size: 3vw;
}

.subtle {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 18px;
  color: rgb(70, 70, 70);
}

.svg {
  aspect-ratio: 960/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.entry {
  background-image: url("../public/entry.svg");
}

.exit {
  background-image: url("../public/exit.svg");
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.button {
  font-weight: 300;
  font-size: 16px;
  margin: 0 15px;
  color: #edf0f1;
  text-decoration: none;
  padding: 9px 25px;
  background-color: #00B4D8;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0077B6;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}