.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #141414;
    transition: all 0.3s ease-in-out 0s;
}

.navbar:hover {
    background-color: #000;
}

.navbar li,
.navbar a,
.navbar button {
    font-weight: 300;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo a {
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s ease-in-out 0s;
}

.logo a {
    transition: all 0.3s ease-in-out 0s;
    text-decoration: none;
}

.logo a:hover {
    color: #0077B6;
}

.navbar nav {
    list-style: none;
}

.navbar nav li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a {
    transition: all 0.3s ease-in-out 0s;
}

.navbar li a:hover {
    color: #00B4D8;
    cursor: pointer;
    text-decoration: solid underline #00B4D8;
}

.cv button {
    padding: 9px 25px;
    background-color: #00B4D8;
    border: none;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}

.cv button:hover {
    background-color: #0077B6;
}

@media screen and (max-width: 800px) {
    .navbar {
        display: none;
    }
}